<a href="https://colab.research.google.com/github/MarinKabic/TennisATP-SQL-DataExploration/blob/main/ATP_Matches_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# List to store individual DataFrames
dfs = []

In [3]:
# Loop through the files from 2010 to 2019
for year in range(2010, 2020):
    # Construct the filename
    filename = f"atp_matches_{year}.csv"

    # Read the CSV file and select specific columns
    df = pd.read_csv(filename, usecols = ["tourney_date", "tourney_name", "surface", "winner_id", "winner_name", "winner_hand", "winner_age", "w_ace", "loser_id", "loser_name", "loser_hand", "l_ace", "loser_age", "round"])

    # Add a 'year' column to keep track of the source year
    df['year'] = year

    # Append the DataFrame to the list
    dfs.append(df)

In [4]:
# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

In [5]:
# Display the combined DataFrame
print(combined_df.head())

  tourney_name surface  tourney_date  winner_id      winner_name winner_hand  \
0     Brisbane    Hard      20100103     104053     Andy Roddick           R
1     Brisbane    Hard      20100103     104958     Carsten Ball           L
2     Brisbane    Hard      20100103     104755  Richard Gasquet           R
3     Brisbane    Hard      20100103     105051    Matthew Ebden           R
4     Brisbane    Hard      20100103     104607    Tomas Berdych           R

   winner_age  loser_id       loser_name loser_hand  loser_age round  w_ace  \
0        27.3    103429     Peter Luczak          R       30.3   R32   15.0
1        22.5    104999    Mischa Zverev          L       22.3   R32   10.0
2        23.5    103813  Jarkko Nieminen          L       28.4   R32    5.0
3        22.1    103781    Jurgen Melzer          L       28.6   R32   12.0
4        24.2    105194     Nick Lindahl          R       21.4   R32    3.0

   l_ace  year
0    4.0  2010
1    2.0  2010
2    4.0  2010
3    2.0  2010
4    6.0  2010

In [6]:
combined_df.to_csv('ATP_Matches.csv')